<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DynamicTableTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6388795A1CBAC7B500D04D11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>638879731CBAC7B600D04D11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6388797E1CBAC7B600D04D11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
